<div>
    <form method="get" target="_self" asp-action="Index">
        <input name="NomFar" type="text" placeholder="Paracetamol" />
        <input name="Concentracion" type="text" placeholder="500" />
        <input name="Uom" type="text" placeholder="mg" />
        <input name="NomPresentacion" type="text" placeholder="Comprimido" />
        <input class="btn btn-success text-white m-4 p-1" type="submit" value="Buscar" />
    </form>
</div>