@model FCE_KillCoronaVirus.Models.Farmaco

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Farmaco</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodFar" />
            <div class="form-group">
                <label asp-for="NomFar" class="control-label"></label>
                <input asp-for="NomFar" class="form-control" />
                <span asp-validation-for="NomFar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concentracion" class="control-label"></label>
                <input asp-for="Concentracion" class="form-control" />
                <span asp-validation-for="Concentracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodUom" class="control-label"></label>
                <select asp-for="CodUom" class="form-control" asp-items="ViewBag.CodUom"></select>
                <span asp-validation-for="CodUom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodPresentacion" class="control-label"></label>
                <select asp-for="CodPresentacion" class="form-control" asp-items="ViewBag.CodPresentacion"></select>
                <span asp-validation-for="CodPresentacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary text-white m-4 p-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
