@model FCE_KillCoronaVirus.Models.TipoExaman

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Tipo de Examen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodTipo" />
            <div class="form-group">
                <label asp-for="NomTipo" class="control-label"></label>
                <input asp-for="NomTipo" class="form-control" />
                <span asp-validation-for="NomTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <input type="submit" value="Guardar" class="btn btn-primary text-white m-4 p-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
