@model FCE_KillCoronaVirus.Models.PresentacionFarmaco

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Presentacion Farmaco</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPresentacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPresentacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodPresentacion">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
