@model FCE_KillCoronaVirus.Models.Paciente

@{
    ViewData["Title"] = "Eliminar registro";
}

<h1>Eliminar registro</h1>

<h3>Est&aacute; seguro que desea borrar este paciente?</h3>
<br />
<div>
    <h4>Paciente</h4>
    <hr />
   <partial name="_Detail" />

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPac" />
        <input type="submit" value="Borrar" class="btn btn-danger text-white m-4 p-1" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
