@model FCE_KillCoronaVirus.Models.Paciente

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Paciente</h4>
    <hr />
    <partial name="_Detail" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPac">Modificar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
