@{
    ViewData["Title"] = "Home Page";
}
<div>
    <form method="get" target="_self" action="~/Pacientes/buscarPaciente">
        <input name="RUN" type="text" placeholder="123456789" />
        <input name="nombrePac" type="text" placeholder="Nombre" />
        <input name="apPaterno" type="text" placeholder="Apellido paterno" />
        <input name="apMaterno" type="text" placeholder="Apellido materno" />
        <input type="submit" value="Buscar" />
    </form>
</div>