<div>
    <form method="get" target="_self" asp-action="Index">        
        <label for="Espec">Descripcion</label>
        <input name="Espec" type="text"/>
        <input class="btn btn-success text-white m-4 p-1" type="submit" value="Buscar" />
    </form>
</div>