<div>
    <form method="get" target="_self" action="../Shared/_menuAdmin">
        <input name="NomFar" type="text" placeholder="Paracetamol" />
        <input name="Concentracion" type="text" placeholder="500" />
        <input name="Uom" type="text" placeholder="mg" />
        <input name="NomPresentacion" type="text" placeholder="Comprimido" />
        <input type="submit" value="Buscar" />
    </form>
</div>