@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@{
    if (DateTime.Now >= new DateTime(2040, 8, 3))
    {
        @Html.Raw("<h3>Hola</h3>");
    }
    else
    {
        @Html.Raw("<h3>Chao</h3>");

    }
}
