@model FCE_KillCoronaVirus.Models.Atencion

@{
    ViewData["Title"] = "Crear atencion";
}

<h1>Crear Atencion</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for="IdPac" />
            <input type="hidden" asp-for="IdUsuario" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DatAtencion" class="control-label"></label>
                <textarea asp-for="DatAtencion" class="form-control"></textarea>
                <span asp-validation-for="DatAtencion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaHora" class="control-label"></label>
                <input asp-for="FechaHora" class="form-control" />
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
