@model FCE_KillCoronaVirus.Models.Paciente

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPac" />
            <div class="form-group">
                <label asp-for="RutPac" class="control-label"></label>
                <input asp-for="RutPac" class="form-control" />
                <span asp-validation-for="RutPac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomPac" class="control-label"></label>
                <input asp-for="NomPac" class="form-control" />
                <span asp-validation-for="NomPac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FecNacPac" class="control-label"></label>
                <input asp-for="FecNacPac" class="form-control" />
                <span asp-validation-for="FecNacPac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdadPac" class="control-label"></label>
                <input asp-for="EdadPac" class="form-control" />
                <span asp-validation-for="EdadPac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodSexo" class="control-label"></label>
                <select asp-for="CodSexo" class="form-control" asp-items="ViewBag.CodSexo"></select>
                <span asp-validation-for="CodSexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
