<div>
    <form method="get" target="_self" asp-action="Index">
        <label for="RutPac">Rut Paciente</label>
        <input name="RutPac" type="number" placeholder="123456789"/>
        <input class="btn btn-success text-white m-4 p-1" type="submit" value="Buscar" />
    </form>
</div>