@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="dropdown pb-4">
    @if (SignInManager.IsSignedIn(User))
    {
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <i width="30" height="30" class="fa fa-2x fa-user-circle"></i>
            <span class="d-none d-sm-inline mx-1">@User.Identity?.Name</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Perfil</a></li>
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Cerrar Sesion</a></li>
        </ul>
        
    }
    else
    {
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <i width="30" height="30" class="fa fa-user-lock"></i>
            <span class="d-none d-sm-inline mx-1">Acceso</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Registrar</a></li>      
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login" >Inicia sesion</a></li>
        </ul>

    }
</div>
