<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
     <li>
        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Medicos</span>
        </a>
        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
            <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Administrar</span> Medicos </a>
            </li>
            <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Administrar</span> Especialidades </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Farmacos</span>
        </a>
        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
            <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Administrar</span> Farmacos</a>
            </li>
            <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Administrar</span> Presentaciones</a>
            </li>
            <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Administrar</span> Unidades de medida</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Examen</span>
        </a>
        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
            <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Administrar</span> Examenes</a>
            </li>
            <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Administrar</span> Tipos de examen</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Sexo</span>
        </a>
    </li>
    <li>
        <a href="#" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span>
        </a>
    </li>
</ul>
<hr>