
<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-5 d-none d-sm-inline">Atencion Medica</span>
</a>
<div>

    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

        <li>
            <a asp-controller="Pacientes" asp-action="Index" class="btn btn-primary text-white px-2 m-1">Pacientes</a>
        </li>
        <li>
            <a asp-controller="Atencions" asp-action="Index" class="btn btn-primary text-white px-2 m-1">Atenciones</a>
        </li>
        <li>
            <a asp-controller="Ordenes" asp-action="Index" class="btn btn-primary text-white px-2 m-1">Ordenes de examen</a>
        </li>
        <li>
            <a asp-controller="Recetas" asp-action="Index" class="btn btn-primary text-white px-2 m-1">Recetas</a>
        </li>
    </ul>
</div>
